
/GLTService.suo
/GLTService/bin/GLTService.dll
/GLTService/bin/GLTService.pdb
/GLTService/bin/Galant.DataEntity.dll
/GLTService/bin/Galant.DataEntity.pdb
/GLTService/bin/mysql.data.dll
/GLTService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GLTService/obj/Debug/GLTService.csproj.FileListAbsolute.txt
/GLTService/obj/Debug/GLTService.dll
/GLTService/obj/Debug/GLTService.pdb
/GLTService/obj/Debug/ResolveAssemblyReference.cache
/Galant.DataEntity/bin/Debug/Galant.DataEntity.dll
/Galant.DataEntity/bin/Debug/Galant.DataEntity.pdb
/Galant.DataEntity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Galant.DataEntity/obj/Debug/Galant.DataEntity.csproj.FileListAbsolute.txt
/Galant.DataEntity/obj/Debug/Galant.DataEntity.dll
/Galant.DataEntity/obj/Debug/Galant.DataEntity.pdb
/WCFTest/obj/x86/Debug/App.g.i.cs
/WCFTest/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/WCFTest/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WCFTest/obj/x86/Debug/MainWindow.g.i.cs
/WCFTest/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/WCFTest/obj/x86/Debug/TempPE/Service References.ServiceAPI.Reference.cs.dll
/WCFTest/obj/x86/Debug/WCFTest_MarkupCompile.i.cache