<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GLTWarter.DeploymentSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
	<system.serviceModel>
        <bindings>
               <wsHttpBinding>
                      <binding name="WSHttpBinding_IServiceAPI" closeTimeout="00:01:00"
                             openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                             bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                             maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                             messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                             allowCookies="false">
                             <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                                    maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                             <reliableSession ordered="true" inactivityTimeout="00:10:00"
                                    enabled="true" />
                             <security mode="Message">
                                    <transport clientCredentialType="Windows" proxyCredentialType="None"
                                           realm="" />
                                    <message clientCredentialType="Windows" negotiateServiceCredential="true"
                                           algorithmSuite="Default" />
                             </security>
                      </binding>
               </wsHttpBinding>
        </bindings>
        <client>
               <endpoint address="http://localhost:1926/ServiceAPI.svc" binding="wsHttpBinding"
                      bindingConfiguration="WSHttpBinding_IServiceAPI" contract="GLTService.IServiceAPI"
                      name="WSHttpBinding_IServiceAPI">
                      <identity>
                             <dns value="localhost" />
                      </identity>
               </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <GLTWarter.DeploymentSettings>
            <setting name="PrintLabelServer" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintLabelQueue" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintLabelSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintLabelIsEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintReportServer" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintReportQueue" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintReportSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintReportIsEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintReportMode" serializeAs="String">
                <value>Summary</value>
            </setting>
            <setting name="PrintBigLabelServer" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintBigLabelQueue" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintBigLabelSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintBigLabelIsEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Locale" serializeAs="String">
                <value>zh-CN</value>
            </setting>
            <setting name="CustomizationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="Customization" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintLabelLeftPadding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintLabelRightPadding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MergingContextSelectedColumns" serializeAs="String">
                <value />
            </setting>
        </GLTWarter.DeploymentSettings>
    </userSettings>
	<log4net>
		<appender name="MainLogger" type="log4net.Appender.RollingFileAppender">
			<file value="${APPDATA}/GLTWarter/client.log"/>
			<staticLogFileName value="false"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<datePattern value="&quot;.txt&quot;"/>
			<maxSizeRollBackups value="5"/>
			<maximumfilesize value="1000KB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="MainLogger"/>
		</root>
	</log4net>
</configuration>
